.Menu {
  width: calc(100% - 32px);
  background: #1d2932;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);

  .Menu_item {
    height: 68px;

    > span {
      margin-left: 27%;

      > svg {
        font-size: 30px;
        color: #ffffff;
        opacity: 0.5;
      }
    }

    > a {
      font-family: Poppins;
    }

    &:hover {
      background: #273742;

      > a,
      > span > svg {
        opacity: 1;
      }
    }
  }

  .Menu_subMenu {
    width: calc(100% - 32px);
    background: #1d2932;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
  }
}
