.boardAni2 {
  opacity: 0;
  animation: left2 1.5s ease forwards;
}
@keyframes left2 {
  0% {
    opacity: 0;
    margin-left: 0;
  }
  100% {
    opacity: 1;
    margin-left: 2.25rem;
  }
}
.boardAni3 {
  opacity: 0;
  animation: left3 1.5s ease forwards;
}
@keyframes left3 {
  0% {
    opacity: 0;
    margin-left: 0;
  }
  100% {
    opacity: 1;
    margin-left: 2.25rem;
  }
}
