.g-together {
  background: -webkit-linear-gradient(right, #fff, rgba(255, 255, 255, 0.3));
  background: linear-gradient(right, #fff, rgba(255, 255, 255, 0.3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
