.shadowCircle {
  position: absolute;
  height: 269px;
  width: 269px;
  background: linear-gradient(230.43deg, rgba(0, 198, 162, 0.6) 46.3%, rgba(0, 198, 162, 0) 83.44%);
  filter: blur(30px);
  -webkit-filter: blur(30px);
  left: 103px;
  top: -62px;
}
